<!DOCTYPE html>
<html dir="ltr" lang="en">
<% include ./header.ejs %>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <% include ./left.ejs %>
    <% include ./setting.ejs %>
    <div class="page-wrapper">
        <% include ./layout.ejs %>
        <% include ./footer.ejs %>
    </div>
</div>
<% include ./url_javascrit.ejs %>
</body>

</html>
